/*
  This CSS file is for elements that are on every page
  on the website e.g. the nav bar and footer
*/

.navbar {
  background-color: #696C76;
}

.navbar a {
  color: white;
}

.dropdown-menu a {
  color: black;
}

.jumbotron {
  margin-bottom: 0;
}

main {
  margin-bottom: 2%;
}

footer {
  padding-top: 3%;
  padding-bottom: 3%; 
  text-align: center;
  background-color: #f8f9fa;
}

h2 {
  padding-top: 2%; 
  padding-bottom: 1%; 
}