<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset = "UTF-8">
    {% if title %}
      <title>{{ title }}</title>
    {% else %}
      <title>Polls</title>
    {% endif %}
    <!-- Bootstrap related -->
    <meta name = "viewport" content = "width=device-width, initial-scale=1">
    <link rel = "stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- End of Bootstrap related-->
    {% if extra_css %}
    <link rel = "stylesheet"
    type = "text/css"
    href = "{{ url_for('static', filename = extra_css) }}">
    {% endif %}
    <link rel = "stylesheet"
    type = "text/css"
    href = "{{ url_for('static', filename='css/global.css') }}"> <!-- css file -->
    {% if extra_js %}
    <script src = "{{ url_for('static', filename = extra_js) }}"></script>
    {% endif %}
    <script src = "{{ url_for('static', filename='javascript/global.js')}}"></script> <!-- javascript file -->
  </head>

  <body>
    <!-- NAVBAR -->
    <nav class = "navbar navbar-expand-sm">
      <a class = "navbar-brand" href="{{ url_for('front') }}">
        <img src = "http://placehold.it/150x50?text=Logo" alt="Logo">
      </a> <!-- TODO add logo img -->
      
      <!-- Left side navbar elements -->
      <ul class = "navbar-nav mr-auto">
        <li class = "nav-item">
          <a class = "nav-link" href = "{{ url_for('about_us') }}">About Us</a>
        </li>
        {% if not current_user.is_anonymous %}
        <li class = "nav-item">
          <a class = "nav-link" href="{{ url_for('archives') }}">Archives</a>
        </li>
        {% endif %}
        {% if current_user and not current_user.is_anonymous and current_user.admin %}
          <li class = "nav-item dropdown">
            <a class = "nav-link dropdown-toggle" href = "#" id = "navbardrop" data-toggle = "dropdown">
              Admin Tools
            </a>
            <!-- TODO change based on superadmin or not -->
            <div class = "dropdown-menu">
              <a class = "dropdown-item" href="{{url_for('admin.index')}}">Admin Home</a>
              <a class = "dropdown-item" href="{{url_for('user.index_view')}}">Modify Users</a>
              <a class = "dropdown-item" href="{{url_for('media.index_view')}}">Modify Media</a>
              <a class = "dropdown-item" href="{{url_for('poll.index_view')}}">Modify Polls</a>
            </div>
          </li>
        {% endif %}
      </ul>

      <!-- Right side navbar elements -->
      {% if current_user and not current_user.is_anonymous %}
        <ul class = "navbar-nav ml-auto">
          <li class = "nav-item">
            <a class = "nav-link" href = "{{ url_for('account_details') }}">
              Welcome {{ current_user.username }}
            </a>
          </li>
          <li class = "nav-item">
            <a class = nav-link href = "{{ url_for('logout') }}">Log out</a>
          </li>
        </ul>
      {% else %}
        <ul class = "navbar-nav ml-auto">
          <li class = "nav-item">
            <a class = "nav-link" href="#" data-toggle="modal" data-target="#login">Log in</a>
          </li>
          <li class = "nav-item">
            <a class = "nav-link" href="{{url_for('register')}}">Register</a>
          </li>
        </ul>
      {% endif %}
    </nav>

    {% if current_user.is_anonymous %}
    <!-- Log In Modal -->
    <div id="login" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Log In</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <div class="modal-body" id="renderLogin"></div>
          <script>window.onload = renderLogin()</script>

          <div class="modal-footer">
            <p>
              Don't have an account? <a href="{{url_for('register')}}">Sign Up</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="alert alert-primary" role="alert">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

    <!-- FOOTER -->
    <footer>
      <p>This website was created by Conor Smith and Billtone Meyoum</p>
      <p>For support, contact us at conormartindale@gmail.com</p>
    </footer>
  </body>
</html>