{% extends "base.html" %}

{% block content %}
<!-- MAIN CONTENT -->
<main class = "container-fluid">
  <h1>Enter your details</h1>
  <form>
    Username: <input type = "text"><br><br>
    Email: <input type = "email"><br><br>
    Password: <input type = "password"><br><br>
    Repeat Password: <input type = "password"><br><br>
    <div class = "dropdown">
        <button type = "button" class = "btn btn-primary dropdown-toggle" 
        data-toggle = "dropdown">
          Preferred polls
        </button>
        <div class = "dropdown-menu">
          <a class = "dropdown-item" href="#">Games</a>
          <a class = "dropdown-item" href="#">Movies</a>
          <a class = "dropdown-item" href="#">Music</a>
        </div>
      </div>
  </form>
</main>
{% endblock %}